<a href="https://colab.research.google.com/github/wellaboriol/CPEN21A-CpE-1-2/blob/main/Midterm_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Midterm Exam

In [76]:
Name = "Wella Mae Lagordo Boriol"
S_Number = "202105205"
Age = "19"
Birthday = "May 08, 2002"
Address = "Blk94 Lot24 Ph4 Mabuhay City Paliparan 3 Dasmarinas City Cavite"
crs = "Bachelor of Science in Computer Engineering"
gwa = "95"

print("Full name: "+ Name)
print("Student Number: "+ S_Number)
print("Age: "+ Age)
print("Birthday: "+ Birthday)
print("Address: "+ Address)
print("Course: "+ crs)
print("Last Sem GWA: "+ gwa)

Full name: Wella Mae Lagordo Boriol
Student Number: 202105205
Age: 19
Birthday: May 08, 2002
Address: Blk94 Lot24 Ph4 Mabuhay City Paliparan 3 Dasmarinas City Cavite
Course: Bachelor of Science in Computer Engineering
Last Sem GWA: 95

In [43]:
n = 4
answ = "Y"

print(bool(2<n) and (n<6))

True

In [44]:
n = 4
answ = "Y"

print(bool(2<n) or (n==6))

True

In [25]:
n = 4
answ = "Y"

print(not(2<n) or (n==6))
print(not(n<6))

False
False

In [45]:
n = 4
answ = "Y"

print(bool(answ == "Y") or (answ == "y"))

True

In [46]:
print(bool(answ == "Y") and (answ == "y"))

False

In [31]:
print(not(answ == "y"))

True

In [50]:
n = 4
answ = "Y"

(2<n) and (n==5+1) or answ == "No"

False

In [59]:
n = 4
answ = "Y"

(n==2 and n==7) or answ == "Y"

True

In [64]:
(n==2) and (n==7) or (answ=="Y")

True

In [66]:
x = 2
y = -3
w = 7
z = -10	

a = x/y
b = w/y/x
c = z/y%x
d = x% - y*w
e = x%y
f = z%w-y/x*5+5
g = 9-x%(2+y)
h = z//w
i = (2+y)**2
j = w/x*2

print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)
print(i)
print(j)

-0.6666666666666666
-1.1666666666666667
1.3333333333333335
14
-1
16.5
9
-2
1
7.0